MarkupSafe
Pygments
alabaster
argcomplete
astroid
azdev
azure-cli-diff-tool
azure-common
azure-core
azure-multiapi-storage
babel
cachetools
certifi
cffi
chardet
charset-normalizer
colorama
cryptography
deepdiff
dill
distlib
docutils
editorconfig
execnet
filelock
flake8
gitdb
gitpython
idna
imagesize
iniconfig
isodate
isort
jinja2
jmespath
jsbeautifier
knack
mccabe
microsoft-security-utilities-secret-masker
msrest
oauthlib
ordered-set
packaging
platformdirs
pluggy
py
pycodestyle
pycparser
pyflakes
pylint
pyproject-api
pytest
pytest-forked
pytest-xdist
python-dateutil
pyyaml
requests
requests-oauthlib
setuptools
six
smmap
snowballstemmer
sphinx
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
tabulate
tomlkit
tox
tqdm
typing-extensions
urllib3
virtualenv
wheel
