MarkupSafe==3.0.2
Pygments==2.19.1
alabaster==0.7.16
argcomplete==3.6.2
astroid==3.3.10
azdev==0.2.4
azure-cli-diff-tool==0.1.0
azure-common==1.1.28
azure-core==1.34.0
azure-multiapi-storage==1.4.0
babel==2.17.0
cachetools==6.0.0
certifi==2025.6.15
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
colorama==0.4.6
cryptography==45.0.4
deepdiff==6.3.0
dill==0.4.0
distlib==0.3.9
docutils==0.21.2
editorconfig==0.17.1
execnet==2.1.1
filelock==3.18.0
flake8==7.2.0
gitdb==4.0.12
gitpython==3.1.44
idna==3.10
imagesize==1.4.1
iniconfig==2.1.0
isodate==0.7.2
isort==6.0.1
jinja2==3.1.6
jmespath==1.0.1
jsbeautifier==1.14.11
knack==0.12.0
mccabe==0.7.0
microsoft-security-utilities-secret-masker==1.0.0b4
msrest==0.7.1
msrestazure==0.6.4
oauthlib==3.2.2
ordered-set==4.1.0
packaging==25.0
platformdirs==4.3.8
pluggy==1.6.0
py==1.11.0
pycodestyle==2.13.0
pycparser==2.22
pyflakes==3.3.2
pylint==3.3.7
pyproject-api==1.9.1
pytest==8.4.0
pytest-forked==1.6.0
pytest-xdist==3.7.0
python-dateutil==2.9.0.post0
pyyaml==6.0.2
requests==2.32.4
requests-oauthlib==2.0.0
setuptools==70.0.0
six==1.17.0
smmap==5.0.2
snowballstemmer==3.0.1
sphinx==1.6.7
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-websupport==1.2.4
tabulate==0.9.0
tomlkit==0.13.3
tox==4.26.0
tqdm==4.67.1
typing-extensions==4.14.0
urllib3==2.4.0
virtualenv==20.31.2
wheel==0.30.0
