# yaml-language-server: $schema=https://promptfoo.dev/config-schema.json
prompts:
  - file://prompts.txt

providers:
  - id: azure:chat:gpt-4o
    config:
      apiHost: "apicevaluationtestai.openai.azure.com"
      maxtoken: 2048

defaultTest:
  assert:
    - type: javascript
      value: file://spectral.mjs

tests:
  - file://vars.csv
