name: "CI"
on:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - main
      - dev

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: Setup project
        run: |
          npm install
          npm run package
      - name: Check lint
        run: |
          npm run lint

  semver-title:
    runs-on: ubuntu-latest
    if: (github.event_name == 'pull_request')
    permissions:
      pull-requests: write
    steps:
      - uses: amannn/action-semantic-pull-request@v3.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  unit-test:
    runs-on: windows-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: lts/*
      - name: run test
        run: |
          npm install
          npm run test
      - uses: sidx1024/report-nyc-coverage-github-action@v1.2.7
        with:
          # Path to coverage file generated by "nyc report".
          coverage_file: "./coverage/coverage-summary.json"
          github_token: ${{ secrets.GITHUB_TOKEN }}
