name: "ui-test"
on:
  push:
    branches: ["dev", "main"]
  pull_request:
    branches: ["dev", "main"]

jobs:
  e2e-test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18
      - name: Setup project
        run: |
          npm install
          npm run package
      - run: |
          npx playwright test
        working-directory: ./src/test/e2e
      - if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: |
            test-results
