name: publish to VSCode marketplace
run-name: Publish-${{ inputs.run_id }}-${{ github.ref_name }}-isPreview-${{ inputs.preview }}

on:
  workflow_dispatch:
    inputs:
      run_id:
        description: "Input the CD pipeline run ID to fetch the artifact"
        required: true
        default: ""
      preview:
        description: "generate prerelease version?"
        required: true
        type: boolean
        default: false

jobs:
  publish-to-vscode-marketplace:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write

    steps:
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - uses: actions/checkout@v2

      - name: Install VSCE command
        run: |
          npm install @vscode/vsce -g

      - name: Download release artifacts
        uses: Legit-Labs/action-download-artifact@v2
        with:
          run_id: ${{ github.event.inputs.run_id }}
          name: release
          github_token: ${{ secrets.GITHUB_TOKEN }}
          workflow: cd.yml
          path: ./release

      - name: get package version
        id: package-version
        run: |
          echo "version=$(jq -r '"v"+.version' ./release/package.json)" >> $GITHUB_OUTPUT

      - name: upload to release page
        uses: ncipollo/release-action@v1.10.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.package-version.outputs.version }}
          artifacts: ./*.vsix
          commit: ${{ github.sha }}
          prerelease: ${{ github.event.inputs.preview }}
